# Environnement virtuel
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Fichiers de modèles (générés automatiquement)
models/*.pkl

# Données (on garde uniquement spam.csv pour le cloud)
data/*
!data/spam.csv

# Logs
*.log

# Fichiers OS
.DS_Store
Thumbs.db

# VS Code
.vscode/


